#vendedor,#comprador,#responsable,#noFactura,#condiPago,#rfcProveedor,#nombreProveedor,#direccionProveedor,#cpProveedor,#noFacturaBus{width:100%;}
#tooltip {
    position: absolute;
    display: none;
    border: 1px solid #999;
    background-color: #ccc;
    padding: 5px;
}
